.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.dados {
    gap: 5px;
    flex: 1;
    display: grid;   
    grid-template-columns: 350px 1fr;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
        'img inf'
        'des des';
}

.gridImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    grid-area: img;
}

.gridInf {
    grid-area: inf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gridDes {
    grid-area: des;
    display: flex;
    flex-direction: column;
    gap: 5px;
}