:root {
  --cor-principal: rgb(255, 200, 100);
  --cor-principal-gradiente: rgb(245, 180, 90);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  color: black;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  grid-template-rows: 40px auto 35px;
  grid-template-columns: 180px auto;
  display: grid;
  grid-template-areas: 
    'h h'
    'n m'
    'f f';
}

header {
  background: linear-gradient(var(--cor-principal), var(--cor-principal-gradiente));
  text-align: center;
  grid-area: h;
}

nav {
  border-right: 1px solid var(--cor-principal);
  grid-area: n;
  padding-top: 10px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  font-size: 16px;
  padding-left: 10px;
}

nav ul li {
  list-style-type: none;
  padding: 5px;  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 4px solid white;
  border-bottom: 2px solid white;
}

nav ul li:hover {
  background: linear-gradient(var(--cor-principal), var(--cor-principal-gradiente));
  cursor: pointer;
  border-left: 4px solid brown;
  border-bottom: 2px solid brown;
}

nav ul li span {
  padding: 2px;
  background: white;
  border: 1px solid brown;
  border-radius: 50%;
}

main {
  grid-area: m;
  padding: 20px;
}

footer {
  text-align: right;
  font-size: large;
  padding: 5px;
  background: linear-gradient(var(--cor-principal), var(--cor-principal-gradiente));
  grid-area: f;
}