.divBotoes {
    display: flex;
    justify-content: space-evenly;
}

.botaoSalvar {
    background-color: lightgreen;
    color: black;
    padding: 10px;
    border: 1px solid darkgreen;
}

.botaoSalvar:hover {
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    transition: 200ms;
}

.botaoExcluir {
    background-color: rgb(255, 200, 200);
    color: black;
    padding: 10px;
    border: 1px solid darkred;
}

.botaoExcluir:hover {
    background-color: darkred;
    color: white;
    cursor: pointer;
    transition: 200ms;
}

.botaoPadrao {
    background-color: rgb(231, 231, 231);
    color: black;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.botaoPadrao:hover {
    background: linear-gradient(rgb(255, 230, 210), rgb(245, 220, 180));
    cursor: pointer;
    transition: 200ms;
}